body {
    background: #2a2a2a;
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.main_container {
    max-width: 900px;
    height: 700px;
    margin: auto;
    background-color: white;
    background-color: #ffffffce;
    border-radius: 25px;
    box-shadow: 10px 10px 12px#2a2a2a;
    position: relative;
}

#welcome_banner {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 270px;
    text-align: center;
    font-size: x-large;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900px;
    color: #07267a;
    
    
}

#content {
    position: absolute;
    top: 0;
    left: 0;
    
    margin-top: 125px;
    width: 800px;
    margin-left: 50px;
    height: 525px;
    overflow: scroll;
}
#content::-webkit-scrollbar {
    width: 5px;
}
#content::-webkit-scrollbar-thumb {
    background-color: #07267a7a;
}

table, th, td {
    border: 3px solid #07267a;
}

table {
    width: 100%;
}

th {
    font-family: "Raleway", sans-serif;
    font-size: x-large;
}

td {
    font-family: "Raleway", sans-serif;
    font-size: larger;
}

#emptyTable {
    font-family: "Raleway", sans-serif;
    width: fit-content;
    margin-left: 230px;
    margin-top: 150px;
}

#updateButton, #deleteButton {
    border: none;
    background-color: transparent;
    text-decoration: none;
    color: #2215e2c6;
    font-size: 14pt;
    cursor: pointer;
}

#goBack {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 20px;
    margin-left: 40px;
}

#goBackButton {
    border: none;
    background-color: transparent;
    font-family: 'Raleway', sans-serif;
    color: #000;
    font-size: 14pt;
    cursor: pointer;
}
